@page "/argon2-id"

@using Glihm.Cryptography.Argon2.Wasm

@using TestApp.UTests

@inject Argon2Wasm _argon2

<PageTitle>Argon2id test</PageTitle>

<h1>Argon2 id</h1>

<!-- Example from kats/argon2id in argon2 PHC repository. -->
<Argon2Unit Version="Argon2Version.v19"
            Memory="32"
            Iterations="3"
            Parallelism="4"
            Password="AQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQE="
            Salt="AgICAgICAgICAgICAgICAg=="
            Secret="AwMDAwMDAwM="
            AssociatedData="BAQEBAQEBAQEBAQE"
            HexOut="0d640df58d78766c08c037a34a8b53c9d01ef0452d75b65eb52520e96b01e659"
            AreInputsB64Buffers="true"
            Type="Argon2Type.id" />


<!-- Examples from src/test.c in argon2 PHC repository. -->
<Argon2Unit Version="Argon2Version.v19"
            Iterations="2"
            Memory="65536"
            Parallelism="1"
            Password="password"
            Salt="somesalt"
            HexOut="09316115d5cf24ed5a15a31a3ba326e5cf32edc24702987c02b6566f61913cf7"
            EncodedOut="$argon2id$v=19$m=65536,t=2,p=1$c29tZXNhbHQ$CTFhFdXPJO1aFaMaO6Mm5c8y7cJHAph8ArZWb2GRPPc"
            Type="Argon2Type.id"
            />

<Argon2Unit Version="Argon2Version.v19"
            Memory="262144"
            Iterations="2"
            Parallelism="1"
            Password="password"
            Salt="somesalt"
            HexOut="78fe1ec91fb3aa5657d72e710854e4c3d9b9198c742f9616c2f085bed95b2e8c"
            EncodedOut="$argon2id$v=19$m=262144,t=2,p=1$c29tZXNhbHQ$eP4eyR+zqlZX1y5xCFTkw9m5GYx0L5YWwvCFvtlbLow"
            Type="Argon2Type.id" />

<Argon2Unit Version="Argon2Version.v19"
            Memory="256"
            Iterations="2"
            Parallelism="1"
            Password="password"
            Salt="somesalt"
            HexOut="9dfeb910e80bad0311fee20f9c0e2b12c17987b4cac90c2ef54d5b3021c68bfe"
            EncodedOut="$argon2id$v=19$m=256,t=2,p=1$c29tZXNhbHQ$nf65EOgLrQMR/uIPnA4rEsF5h7TKyQwu9U1bMCHGi/4"
            Type="Argon2Type.id" />

<Argon2Unit Version="Argon2Version.v19"
            Memory="256"
            Iterations="2"
            Parallelism="2"
            Password="password"
            Salt="somesalt"
            HexOut="6d093c501fd5999645e0ea3bf620d7b8be7fd2db59c20d9fff9539da2bf57037"
            EncodedOut="$argon2id$v=19$m=256,t=2,p=2$c29tZXNhbHQ$bQk8UB/VmZZF4Oo79iDXuL5/0ttZwg2f/5U52iv1cDc"
            Type="Argon2Type.id" />

<Argon2Unit Version="Argon2Version.v19"
            Memory="65536"
            Iterations="1"
            Parallelism="1"
            Password="password"
            Salt="somesalt"
            HexOut="f6a5adc1ba723dddef9b5ac1d464e180fcd9dffc9d1cbf76cca2fed795d9ca98"
            EncodedOut="$argon2id$v=19$m=65536,t=1,p=1$c29tZXNhbHQ$9qWtwbpyPd3vm1rB1GThgPzZ3/ydHL92zKL+15XZypg"
            Type="Argon2Type.id" />

<Argon2Unit Version="Argon2Version.v19"
            Memory="65536"
            Iterations="4"
            Parallelism="1"
            Password="password"
            Salt="somesalt"
            HexOut="9025d48e68ef7395cca9079da4c4ec3affb3c8911fe4f86d1a2520856f63172c"
            EncodedOut="$argon2id$v=19$m=65536,t=4,p=1$c29tZXNhbHQ$kCXUjmjvc5XMqQedpMTsOv+zyJEf5PhtGiUghW9jFyw"
            Type="Argon2Type.id" />

<Argon2Unit Version="Argon2Version.v19"
            Memory="65536"
            Iterations="2"
            Parallelism="1"
            Password="differentpassword"
            Salt="somesalt"
            HexOut="0b84d652cf6b0c4beaef0dfe278ba6a80df6696281d7e0d2891b817d8c458fde"
            EncodedOut="$argon2id$v=19$m=65536,t=2,p=1$c29tZXNhbHQ$C4TWUs9rDEvq7w3+J4umqA32aWKB1+DSiRuBfYxFj94"
            Type="Argon2Type.id" />

<Argon2Unit Version="Argon2Version.v19"
            Memory="65536"
            Iterations="2"
            Parallelism="1"
            Password="password"
            Salt="diffsalt"
            HexOut="bdf32b05ccc42eb15d58fd19b1f856b113da1e9a5874fdcc544308565aa8141c"
            EncodedOut="$argon2id$v=19$m=65536,t=2,p=1$ZGlmZnNhbHQ$vfMrBczELrFdWP0ZsfhWsRPaHppYdP3MVEMIVlqoFBw"
            Type="Argon2Type.id" />

@code {

}
